.tape{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: -10vh;
    width: 50%;
}

html, main{
    background-color: khaki;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    width: 20%;
    align-self:center;
}

.navbar{
    background-image:linear-gradient(45deg, goldenrod, grey, goldenrod, grey, goldenrod, grey, goldenrod, grey, goldenrod);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 3em;
}

.navbar a{
    color: white;
}

.flip .tape{
    position: fixed;
    bottom: 0;
    left: 0;
    transform: rotateX(180deg);
}

h1, p{
    padding-top: 10vh;
    text-align: center;
}

p{
    font-size: x-large;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
    margin:5%;
}

.product-details{
    display:flex;
    flex-direction: row;
}

.product-details .product{
    width:40%;
}

.product-details .product img{
    width: 35vw;
}

.details{
    background-color: aliceblue;
    border-radius: 5%;
    margin-top: 2%;
    padding: 0;
}

.details p{
    text-align: left;
    margin-left: 3%;
    margin-top:13%;
}

.product img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 20vw;
    height: 35vh;
}

.product p{
    text-align: center;
    font-size: 2em;
    background-color: aliceblue;
    padding-bottom:15%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form textarea{
    width: 20vw;
    height: 20vh;
}

.elgato-bg{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bc33b046-d405-42c8-bade-99321524eb9e/dfyovfi-75d49866-04bc-46c3-82c6-d177cfb7b693.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2JjMzNiMDQ2LWQ0MDUtNDJjOC1iYWRlLTk5MzIxNTI0ZWI5ZVwvZGZ5b3ZmaS03NWQ0OTg2Ni0wNGJjLTQ2YzMtODJjNi1kMTc3Y2ZiN2I2OTMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HfOXbCloo0xbDY7SkBIj96zU5aTFc8dbsya4YzVW-tg");
    background-size:auto;
    cursor:pointer;
    width:100%;
    height:100%;
}